*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  color: var(--color-white);
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
