*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

input[type="file"] {
  display: none;
}

img {
  display: block;
}

body,
html,
#__nuxt {
  height: 100%;
  margin: 0;
}

body {
  font-family: var(--font-main);
  color: var(--text-primary);
  background-color: var(--body);
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: inherit;
}

a,
textarea {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
