:root {
  --color-black-01: #000;
  --color-white: #fff;
  --color-yellow-01: #e8c619;
  --color-yellow-02: #f8f403;
  --color-green-01: #b3df3c;
  --color-gray-01: #303030;

  --font-main: 'Golos Text', sans-serif;
  --main-background: var(--color-gray-01);
}
